*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background: #6A9C89;
}
nav{
    background: #16423C;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;

}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color:white;
    font-weight: bolder;
}
nav a:hover{
    background-color:rgba(128, 128, 128, 0.423);
}
nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background: #16423C;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}
section {
    padding-left: 50px;
    padding-right: 50px;
    height: auto; /* Full height of the viewport */
}
/* Center the logo container */
.logo-container {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
    height: 100%;   
    margin-top: 40px;        /* Adjust based on your needs */
    
}

/* Adjust the logo size */
.logo {
    width: 100%;   /* Adjust width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
    border: 20px solid #bdbdbd;
    max-width: 300px;
}

.product-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid */
    justify-items: center;
    gap:60px;
    margin: 0 auto;
    max-width: 1200px; /* Limit the maximum width of the gallery */
}
.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 30px;
}
.product {
    background-color: white;
    border: 20px solid #ddd;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    /* Add animation */
}
.product:hover {
    transform: scale(1.05); /* Slight zoom on hover */
}
.product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.product-name {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}
.load-more-btn {
    background-color: #E9EFEC;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px solid black;
}
.load-more-btn:hover {
    background-color: #6A9C89;

}
.hidden {
    display: none;
}

html {
    scroll-behavior: smooth;
}
.container {
    left: 0px;
    top: 50px;
    width: 1200px auto;
    height:  auto;
    background: #C4DAD2;
    margin-top: 50px;
    overflow: hidden;
  }


  .heading {
    margin: auto;
    margin-top: 50px;
    width: auto;
    max-width: 400px ;
    height: auto;
    border-radius: 10px;
    background: #E9EFEC;
    text-align: center;
    vertical-align: middle;
    text-decoration: underline;
    padding:10px;
  }
  .text{
    margin-top: 50px;
    text-align: center;
  }
  .description{
    text-align: center;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    size: 100%;
  }
  .contact{
    text-align: center;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .icons{
    display: flex;
    padding-bottom: 30px;  
    justify-content: space-evenly;
    font-size: 30px;
    align-items: center;
  }
    


 /* Swiper Slider */
.swiper-container {
    width: auto;
    height: 419px;
    margin: 50px auto;
    border: 20px solid #bdbdbd;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background: #ffffff;
}

.swiper-slide {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    max-height: 100%;
    object-fit: fill;
}


.swiper-button-next, .swiper-button-prev {
    color: #000;
}

.swiper-pagination-bullet {
    background: #000;
}

.bottom{
    background: #16423C;
    margin-top: 40px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
}
 
@media(max-width:800px){
    .hideOnMobile{
        display:none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .product {
        width: 200px; /* Full width for smaller screens */
        height: 300px;
        border: 20px solid #ddd;
    }
}
@media screen and (max-width: 480px) {
    .product {
        height: 300px;
        width: 200px;
    }
    .product-name {
        font-size: 14px;
    }
}