*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background: darkgray;
}
nav{
    background: #bdbdbd;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;

}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-weight: bolder;
}
nav a:hover{
    background-color:rgba(128, 128, 128, 0.423);
}
nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background: #bdbdbd;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}
section {
    padding-left: 50px;
    padding-right: 50px;
    height: auto; /* Full height of the viewport */
}

.product-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 60px;
    padding-top: 40px ;
    max-width: auto;
    padding-left:70px ;
    padding-right: auto;
    align-items: center;
    justify-content: center;
}
.product {
    background-color: white;
    padding: 10px;
    border: 20px solid #ddd;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.product-name {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 35px ;
    padding-bottom: 20px;
}
.product-name-hidden {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 45px ;
    padding-bottom: 20px;
}
.product-name-hidden-small {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 55px ;
    padding-bottom: 20px;
}
.load-more-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.load-more-btn:hover {
    background-color: #0056b3;
}
.hidden {
    display: none;
}

html {
    scroll-behavior: smooth;
}
.container {
    left: 0px;
    top: 50px;
    width: 1200px auto;
    height:  auto;
    background: #bdbdbd;
    margin-top: 50px;
  }


  .heading {
    margin: auto;
    margin-top: 50px;
    width: auto;
    max-width: 400px ;
    height: auto;
    border-radius: 10px;
    background: #bdbdbd;
    text-align: center;
    vertical-align: middle;
    text-decoration: underline;
    padding:10px;
  }
  .text{
    margin-top: 50px;
    text-align: center;
  }
  .description{
    text-align: center;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    size: 100%;
  }
  .contact{
    text-align: center;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .icons{
    display: flex;
    padding-bottom: 30px;  
    justify-content: space-evenly;
    font-size: 30px;
    align-items: center;
}


 /* Swiper Slider */
.swiper-container {
    width: auto;
    height: 419px;
    margin: 50px auto;
    border: 20px solid #bdbdbd;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background: #ffffff;
}

.swiper-slide {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    max-height: 100%;
    object-fit: fill;
}


.swiper-button-next, .swiper-button-prev {
    color: #000;
}

.swiper-pagination-bullet {
    background: #000;
}

.bottom{
    background: #bdbdbd;
    margin-top: 40px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
 
@media(max-width:800px){
    .hideOnMobile{
        display:none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
}